<form action="/bus/add" method="post" enctype="multipart/form-data" >
  <h1>Add new bus</h1>
  Plate: <input type="text" name="plate" id="" required>
  <br><br>
  Seats: <input type="number" name="seats" id="" required>
  <br><br>
  Image: <input type="file" name="picture" accept="image/*" required>
  
  <input  type="submit" value="Add">
</form>